In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn import metrics
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import RandomOverSampler

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/test.csv')
print(df.head())

   ID  A1_Score  A2_Score  A3_Score  A4_Score  A5_Score  A6_Score  A7_Score  \
0   1         1         1         0         0         1         1         0
1   2         1         0         0         0         0         0         0
2   3         1         1         1         0         1         1         0
3   4         0         0         0         0         0         0         0
4   5         0         0         0         1         0         0         0

   A8_Score  A9_Score  ...        age  gender       ethnicity jaundice austim  \
0         0         1  ...  15.599481       m  White-European      yes     no
1         1         0  ...  27.181099       m           Asian       no     no
2         1         1  ...  31.643906       m  White-European      yes     no
3         0         0  ...  25.369210       m               ?       no     no
4         0         0  ...   9.078580       m               ?       no     no

  contry_of_res used_app_before     result     age_desc relation
0         India              no  12.399055  18 and more     Self
1        Mexico              no   6.551598  18 and more     Self
2         Egypt              no   3.180663  18 and more     Self
3         India              no   2.220766  18 and more     Self
4         Italy              no   7.252028  18 and more     Self

[5 rows x 21 columns]

In [ ]:
df.shape

(200, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               200 non-null    int64
 1   A1_Score         200 non-null    int64
 2   A2_Score         200 non-null    int64
 3   A3_Score         200 non-null    int64
 4   A4_Score         200 non-null    int64
 5   A5_Score         200 non-null    int64
 6   A6_Score         200 non-null    int64
 7   A7_Score         200 non-null    int64
 8   A8_Score         200 non-null    int64
 9   A9_Score         200 non-null    int64
 10  A10_Score        200 non-null    int64
 11  age              200 non-null    float64
 12  gender           200 non-null    object
 13  ethnicity        200 non-null    object
 14  jaundice         200 non-null    object
 15  austim           200 non-null    object
 16  contry_of_res    200 non-null    object
 17  used_app_before  200 non-null    object
 18  result           200 non-null    float64
 19  age_desc         200 non-null    object
 20  relation         200 non-null    object
dtypes: float64(2), int64(11), object(8)
memory usage: 32.9+ KB

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,200.0,100.500000,57.879185,1.000000,50.750000,100.500000,150.250000,200.000000
A1_Score,200.0,0.575000,0.495584,0.000000,0.000000,1.000000,1.000000,1.000000
A2_Score,200.0,0.555000,0.498213,0.000000,0.000000,1.000000,1.000000,1.000000
A3_Score,200.0,0.475000,0.500628,0.000000,0.000000,0.000000,1.000000,1.000000
A4_Score,200.0,0.425000,0.495584,0.000000,0.000000,0.000000,1.000000,1.000000
A5_Score,200.0,0.450000,0.498742,0.000000,0.000000,0.000000,1.000000,1.000000
A6_Score,200.0,0.340000,0.474898,0.000000,0.000000,0.000000,1.000000,1.000000
A7_Score,200.0,0.420000,0.494797,0.000000,0.000000,0.000000,1.000000,1.000000
A8_Score,200.0,0.545000,0.499220,0.000000,0.000000,1.000000,1.000000,1.000000
A9_Score,200.0,0.540000,0.499648,0.000000,0.000000,1.000000,1.000000,1.000000
A10_Score,200.0,0.640000,0.481205,0.000000,0.000000,1.000000,1.000000,1.000000
age,200.0,26.074568,14.517024,4.781474,16.152524,22.717970,32.004413,77.110749
result,200.0,8.671369,4.709994,-5.655613,5.611695,9.804165,12.487160,15.731361

In [ ]:
df['jaundice'].value_counts()

jaundice
0    146
1     54
Name: count, dtype: int64

In [ ]:
df['relation'].value_counts()

relation
Self                        180
Parent                        8
?                             6
Relative                      2
Others                        2
Health care professional      2
Name: count, dtype: int64

In [ ]:
df = df.replace({'yes':1, 'no':0, '?':'Others', 'others':'Others'})

In [ ]:
# Verify the column names in your DataFrame
print(df.columns)

# Replace 'Class_ASD' with the actual column name for the ASD class
plt.pie(df['<Actual Column Name>'].value_counts().values, autopct='%1.1f%%')
plt.show()

Index(['ID', 'A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age',
       'gender', 'ethnicity', 'jaundice', 'austim', 'contry_of_res',
       'used_app_before', 'result', 'age_desc', 'relation'],
      dtype='object')

KeyError: '<Actual Column Name>'

In [ ]:
ints = []
objects = []
floats = []

for col in df.columns:
  if df[col].dtype == int:
    ints.append(col)
  elif df[col].dtype == object:
    objects.append(col)
  else:
    floats.append(col)

In [ ]:
# Check if 'Class/ASD' is in the list before removing
if 'Class/ASD' in ints:
    ints.remove('Class/ASD')